@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body{
    background: rgba(19, 18, 18, 0.918);
    margin: 5rem 5rem 5rem 0rem;
    width: 100vh;
    justify-content: center;
}

main{
    font-family: 'IBM Plex Sans', sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 0.5fr;
    grid-template-rows: 1fr 1fr 2fr 1fr;
    grid-template-areas: 
    "container container left number"
    "container container weather weather"
    "container container weather weather"
    "container container location location";
    margin: 10px;
    height: 210px;
    width: 350px;
    background: rgba(10, 10, 10, 0.61);
    padding: 0 ;
    border-radius: 10px;
    justify-content: space-between;
}


#location {
    background: rgb(3, 75, 156);
    height: fit-content;
    width: 150px;
    margin-top: 10;
    padding: 0;
    border-radius: 30px;
    grid-area: location;
    align-items: center;
}
#left {
    grid-area: left;
    margin-right: 3rem;
}
#number {
    grid-area: number;
}
#weather {  
    display: flex;
    flex-direction: row;
    grid-area: weather;
    text-align: center;
    align-items: center;
    
}
#items1 {
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    border-radius: 5px;
    align-items: center;
    padding: 10;
    width: 10px;
    justify-content: space-between;
}
#items2 {
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    border-radius: 5px;
    align-items: center;
    padding: 10;
    width: 10px;
    justify-content: space-between;
}
#items3 {
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    border-radius: 5px;
    align-items: center;
    padding: 10;
    width: 10px;
    justify-content: space-between;
}
#items4 {
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    border-radius: 5px;
    align-items: center;
    padding: 10;
    width: 10px;
    justify-content: space-between;
}

div{
    color: white;
    font-size:x-small;
    padding: 0;
}
#container {
    width: 65%;
    background-image:
    linear-gradient(
        rgba(17, 180, 230, 0.6), 
        rgba(0, 153, 255, 0.699)
    ),
    url("./media/plages.jpg");
    padding: 10px;
    border: 0.5px solid black;
    border-radius: 10px;
    background-size: cover;
    grid-area: container;

}
.fa-location-dot {
    font-size:x-small; 
}
.fa-sun{
    margin-top: 30;
    margin-bottom: 0;
    font-size: x-large;
}
h1 {
    font-weight: bold;
    margin-bottom: 0;
}
#date {
    margin-top: 0;
}
 #deg {
     margin-top: 0;
     margin-bottom: 1;
     font-weight: bold;
     font-size: xx-large ;
 }
 #sun {
     font-weight: bold;
     margin-top: 0;
 }
